@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body{
    background-color: rgb(41, 40, 40);
    color: white;
    width: 70%;
    margin: auto;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
/* navbar */
#toast-id{
        border-radius: 20px;
      }
      .toast-id{
        border-radius: 10px;
      }
      .nav{
          display: flex; 
          justify-content: space-between;
          align-items: center;
          padding: 20px 25px;
        }
        
        .accueil img{
          width: 60px;
        }

        .nav .menu{
          position: relative;
          display: flex;
          align-items: center;
          border: 1px solid gray;
          border-radius: 20px;
          padding: 5px 10px;
        }
        .nav .menu svg{
          color: rgb(255, 255, 255);
          font-size: 1.3rem;
          cursor: pointer;
          transition: 0.3s;
        }

        .nav .menu:hover svg{
          color: rgb(74, 74, 255);
        }
        .nav .menu .user-menu{
          z-index: 33;
          position: absolute;
          top : 105%; right: 0px; 
          /* 100% c'est nouveau pour MOI */
          border-radius:10px;
          overflow: hidden;
          width: 200px;        
          display: none;
        }
        .nav .menu .user-menu.show{
          display: block;
        }
        .nav .menu .user-menu > div{         
          display: flex;
          flex-direction: column;
          padding: 5px;
          align-items: center;
          transition: 0.3s;
        }
        .nav .menu .user-menu div img{
          margin-right: 10px;
        }
        .nav .menu .user-menu div div{
          width: 100%;
          display: flex;
          flex-direction: row;
          gap: 10px;
          padding: 10px;
          background-color: #d1e7f8;
          transition: 0.3s;
        }
        .nav .menu .user-menu div div:hover{
          background-color: #94cdfc;
          cursor: pointer;
        }
         .nav .menu .user-menu div img{
          width: 30px;
         }
        .nav .menu .user-menu div.guest, 
        .nav .menu .user-menu div.connected{
          display: none;
        }
        .nav .menu .user-menu div.show, 
        .nav .menu .user-menu div.show{
          display: block;
        }
        .user-menu .premium, .user-menu .free-mins, 
        .user-menu .menu-profile, .user-menu .menu-logout{        
          cursor: pointer;
          display: flex;
          flex-direction: row !important;
        }
        .creer-compte-page{
          position: fixed;
          top:0; left: 0;
          width: 100%;
          background-color: white;
        }
        .modal-full{
          position: fixed;
          width: 100vw; height: 100vh;
          top:0; left:0 ;
          background-color: red;
        }

/* Hero section */
.hero{
    display: flex;
    background-color:  rgb(78, 78, 78);
    border-radius: 15px;
}
.hero .hero-text{
    flex:1;
    display: flex;
    flex-direction : column;
    justify-content: center;;
}
.hero .hero-text h2, .hero .hero-text h4{
    margin: 5px 0 10px 10px;
}
.hero .hero-text button{
    width: 160px;
    outline: none;
    border: 1px solid white;
    background-color: orange;
    font-size: 1.1rem;
    padding: 10px 6px;
    margin-top: 15px;
    border-radius: 10px;
    align-self:center;
    transition: 0.3s
}
.hero .hero-text button:hover{
    cursor: pointer;
    background-color: rgb(255, 186, 59);
}
.hero .hero-img{
    flex:1
}
.hero .hero-img img{
    width: 100%;
}

/* Pourquoi devnir premium */
.prq-premium-container, .faq-container{
  margin:30px auto;
  position: relative;
  background-color: #353333;
  padding: 20px;
  border-radius: 20px;
}

.prq-premium-container img, .faq-container img{
  position: absolute;
  top: 10px; left: 10px;
  width: 60px; height: 60px;
  transform: rotateZ(-15deg);
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
}
.prq-premium-container h2, .faq-container h2 {
  padding: 50px ;
}
.prq-premium-container h2 span{
  padding: 10px;
  background-color: rgb(33, 155, 79);
}
.prq-premium-container .prq-premium{
  margin: 20px auto;
  width: 70%;
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px 50px;
}
.prq-premium-container .prq-premium div{
  position: relative;
  margin: 35px 0;
  font-size: 1.3rem;
  
}
.prq-premium-container .prq-premium div:before{
  content: '';
  position: absolute;
  left: -35px;
  top: -6px;
  width: 30px;
  height: 30px;
  background-image: url('./assets//img/verifier.png');
  background-size: 30px;
  background-repeat: no-repeat;;
}
.prq-premium-container .prq-premium div span{
  font-weight: bold;
  color: orangered;
}
/* ----------- fréquentes ------------ */
.faq-container{
  position: relative;
  background-color: #4b4b4b;
}

.faq-item .item-qst{
  font-weight: 500;
  background-color: rgb(66, 66, 66);
  padding: 10px;
  margin: 15px;
  box-shadow: 0 0 2px 1px white, 0 0 5px 2px white;
  cursor: pointer;
}

.faq-item .item-res{
  font-weight: 500;
  display: none;
  background-color: rgb(59, 59, 59);
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1.2rem;
  transition: 0.5s ease-out;
}
@media screen and (max-width: 780px){
  body{
    width: 100%;
  }
}
.chart{
  width: 50%;
  margin: auto;

}