@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  background-color: rgb(41, 40, 40);
  color: white;
  width: 70%;
  margin: auto;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
}

.accueil img {
  width: 60px;
}

.nav .menus {
  display: flex;
  gap: 10px;
}

.menus .cloche {
  position: relative;
  width: 40px;
  height: 40px;
}

.menus .cloche svg {
  width: 100%;
  height: 100%;
  fill: white;
  cursor: pointer;
  transition: 0.2s;
}

.menus .cloche svg:hover {
  animation: wiggle 0.5s ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  75% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.menus .cloche .notification {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 18px;
  height: 18px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: bold;
  ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav .menu {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 5px 10px;
}

.nav .menu svg {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s;
}

.nav .menu:hover svg {
  color: rgb(74, 74, 255);
}

.nav .menu .user-menu {
  z-index: 33;
  position: absolute;
  top: 105%;
  right: 0px;
  /* 100% c'est nouveau pour MOI */
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
  display: none;
}

.nav .menu .user-menu.show {
  display: block;
}

.nav .menu .user-menu>div {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  transition: 0.3s;
}

.nav .menu .user-menu div img {
  margin-right: 10px;
}

.nav .menu .user-menu div div {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  background-color: #d1e7f8;
  transition: 0.3s;
}

.nav .menu .user-menu div div:hover {
  background-color: #94cdfc;
  cursor: pointer;
}

.nav .menu .user-menu div img {
  width: 30px;
}

.nav .menu .user-menu div.guest,
.nav .menu .user-menu div.connected {
  display: none;
}

.nav .menu .user-menu div.show,
.nav .menu .user-menu div.show {
  display: block;
}

.user-menu .premium,
.user-menu .free-mins,
.user-menu .menu-profile,
.user-menu .menu-logout {
  cursor: pointer;
  display: flex;
  flex-direction: row !important;
}

.creer-compte-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

.modal-full {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: red;
}

/* -------------------- Hero section */
.hero {
  background-color: rgb(78, 78, 78);
  border-radius: 15px;
  padding-bottom: 20px;
}
.hero-top{
  display: flex;
}
.hero .hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .hero-text h2,
.hero .hero-text h4 {
  margin: 5px 0 10px 10px;
}
.hero-actions{
  display:flex;
  justify-content: center;
  gap: 20px;
}
.hero-actions .cta-premium {
  width: 160px;
  outline: none;
  border: none;
  background-color: orange;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 6px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s
}

.hero-actions .cta-premium:hover {
  cursor: pointer;
  background-color: rgb(255, 186, 59);
}

.hero .hero-img {
  flex: 1
}

.hero .hero-img img {
  width: 100%;
}

.hero .video {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 15px;
  border-radius: 15px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  background-color: #5f6264;
  cursor: pointer;
  transition: 0.3s;
}

.hero .video:hover {
  background-color: #727679;
}

.hero .video img {
  height: 43px;
  transition: 0.3s;
  transition-delay: 0.5s;
}

.hero .video .video-text {
  font-weight: bold;
}

.modal-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-video-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.342);
}

.fermer-video {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9987;
  padding: 20px;
  background-color: red;
  cursor: pointer;
}

/* Pourquoi devnir premium */
.prq-premium-container,
.faq-container {
  margin: 30px auto;
  position: relative;
  background-color: #353333;
  padding: 20px;
  border-radius: 20px;
}

.prq-premium-container img,
.faq-container img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  transform: rotateZ(-15deg);
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
}

.prq-premium-container h2,
.faq-container h2 {
  padding: 50px;
}

.prq-premium-container h2 span {
  padding: 10px;
  background-color: rgb(33, 155, 79);
}

.prq-premium-container .prq-premium {
  margin: 20px auto;
  width: 70%;
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px 50px;
}

.prq-premium-container .prq-premium div {
  position: relative;
  margin: 35px 0;
  font-size: 1.3rem;

}

.prq-premium-container .prq-premium div:before {
  content: '';
  position: absolute;
  left: -35px;
  top: -6px;
  width: 30px;
  height: 30px;
  background-image: url('./assets//img/verifier.png');
  background-size: 30px;
  background-repeat: no-repeat;
  ;
}

.prq-premium-container .prq-premium div span {
  font-weight: bold;
  color: orangered;
}

/* ----------- FREQUENTES ------------ */
.faq-container {
  position: relative;
  background-color: #4b4b4b;
}

.faq-item .item-qst {
  font-weight: 500;
  background-color: rgb(66, 66, 66);
  padding: 10px;
  margin: 15px;
  box-shadow: 0 0 2px 1px white, 0 0 5px 2px white;
  cursor: pointer;
}

.faq-item .item-res {
  font-weight: 500;
  display: none;
  background-color: rgb(59, 59, 59);
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1.2rem;
  transition: 0.5s ease-out;
}

#myLineChart {
  width: 50px;
}


@media screen and (max-width: 580px) {

  body {
    width: 100%;
  }

  .prq-premium-container h2 {
    font-size: 1.2rem;
    padding-right: 0px;
  }

  .hero {
    flex-direction: column-reverse;
    padding-bottom: 20px;
  }

  .hero .video {
    background-color: transparent;
    width: 60px;
    right: 20px;
  }

  .hero .video .video-text {
    display: none;
  }

  .prq-premium-container .prq-premium {
    width: 100%;
    margin: 40px auto;

    box-shadow: 0 0 3px white, 0 0 5px white;
  }
}